.App {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EDB288;
}

#drum-machine {
  border: 40px solid transparent;
  border-image-source: url("./jaw-harp-drum-machine-border.svg");
  border-image-repeat: repeat;
  border-image-slice: 52;
}

#display {
  background-color: LimeGreen;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4) inset, -2px -2px 6px rgba(0, 0, 0, 0.4) inset;
}

.drum-pad {
  background-color: #888;
}
